extends layout

block headjs
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

  script(type="text/javascript", src="javascripts/images.js")

block content


  .container
      .main_area
          .row
              #slider-thumbs.col-sm-6
                  ul.hide-bullets
                      - for (var i = numimages - 1; i >= 0; --i) {
                      li.col-sm-3
                          a.thumbnail(id='carousel-selector-'+i)
                              img(src= images[i])
                      - }

              .col-sm-6
                  #slider.col-sm-6
                      .row
                          #carousel-bounding-box.col-sm-12
                              #myCarousel.carousel.slide
                                  .carousel-inner
                                      - for (var i = numimages - 1; i >= 0; --i) {
                                      if i == (numimages - 1)
                                          .item.active(data-slide-number= i)
                                              a(href= images[i])
                                                  img(src= images[i])
                                      else
                                          .item(data-slide-number= i)
                                              a(href= images[i])
                                                  img(src= images[i])
                                      - }

                              a.left.carousel-control(href="#eventCarousel", data-slide="prev")
                                  span.glyphicon.glyphicon-chevron-left
                              a.right.carousel-control(href="#eventCarousel", data-slide="next")
                                  span.glyphicon.glyphicon-chevron-right

