extends layout

block headjs
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

  script(type="text/javascript", src="javascripts/images.js")

block content

  if (!user)
    p invalid
  else
    p user: #{user.userid}

    .container
      .main_area
        .row
            .col-md-8
                #slider.col-md-12
                    .row
                        #carousel-bounding-box.col-md-12
                            #myCarousel.carousel.slide
                                .carousel-inner
                                    - for (var i = numimages - 1; i >= 0; --i) {
                                    if i == (numimages - 1)
                                        .item.active(data-slide-number= i)
                                            a(href= images[i])
                                                img(src= images[i])
                                            if (user.userid == 'admin')
                                                .deleteimage(imgname= images[i])

                                    else
                                        .item(data-slide-number= i)
                                            a(href= images[i])
                                                img(src= images[i])
                                            if (user.userid == 'admin')
                                                .deleteimage(imgname= images[i])
                                    - }

                                a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
                                    span.glyphicon.glyphicon-chevron-left
                                a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
                                    span.glyphicon.glyphicon-chevron-right


                        if (user.userid == 'admin')
                            a(id= images[i], class="deleteme", href="#" ) delete this image?


            #slider-thumbs.col-md-4
                ul.hide-bullets
                    - for (var i = numimages - 1, j = 0; i >= 0; --i, ++j) {
                    li.col-md-3
                        a.thumbnail(id='carousel-selector-'+j)
                            img(src= images[i])
                    - }
