extends layout

block headjs
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

block content
  h2 Register

  if (error)
    b Error: 
    | !{error}
  else

    form(action="/register",method="post")
      div
        label Username: 
        input(type="text",name="userid")

      div
        label Email: 
        input(type="text",name="email")

      div
        label Password: 
        input(type="password",name="passwd")

      div
        input(type="submit",value="Register")

